<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Bot</title>
    <meta name="Student Bot" content="width=device-width, initial-scale=1">
   
    {% block stylesheets %}
        <link rel="shortcut icon" type="image/png" href="{{ asset('/images/favicon.jpg') }}"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/responsive.css"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    {% endblock stylesheets %}

    {% block scripts_head %}
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    {% endblock scripts_head %}
</head>
    <body>
        {# <div class="container"> #}

            {% include 'top_nav.html.twig' %}
            {% include "flash_messages.html.twig" %}
            {% block body %}{% endblock %}
        {# </div> #}
            
        {% block javascripts %} 
        {% endblock %}
    </body>
</html>
