{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="home-logo">StudentBot</div>
            <div style="text-align:center">
                <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/15178125_1880759412153595_3682887542296239417_n.png?oh=5361f890d1c71d45b057ee206169537c&oe=5906DF6F"
                    style="height:450px;margin:65px;">
                <a href="https://www.facebook.com/StudentBot-1860943057468564/?fref=ts" target="_blank">
                    <button class="facebook_button">Suivez nous sur Facebook</button>
                </a>
                <div class="fb-send-to-messenger"
                  messenger_app_id="199254233818913" 
                  page_id="1860943057468564"
                  data-ref="send this info to the app"
                  color="blue"
                  size="xlarge" >
                </div>
            </div>
        </div>
    </div>
    {% if app.user is empty %}
        <a href="{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}" class="btn btn-block btn-social btn-facebook" ><span class="fa fa-facebook"></span> Connexion facebook</a>
    {% else %}
        <a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
    {% endif %}
    
{% endblock %}

{% block stylesheets %}
    {{parent()}}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; background-color: #205081;}
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }
    .home-logo{
        padding: 12px 22px;
        text-align: center;
        border: none;
        font: normal normal bold 2.5em/normal "Syncopate", Helvetica, sans-serif;
        color: white;
        text-shadow: 0 0 0 #16385b , 1px 1px 0 #16385b , 2px 2px 0 #16385b , 3px 3px 0 #16385b , 4px 4px 0 #16385b , 5px 5px 0 #16385b , 6px 6px 0 #16385b , 7px 7px 0 #16385b , 8px 8px 0 #16385b , 9px 9px 0 #16385b , 10px 10px 0 #16385b , 11px 11px 0 #16385b , 12px 12px 0 #16385b , 13px 13px 0 #16385b , 14px 14px 0 #16385b , 15px 15px 0 #16385b , 16px 16px 0 #16385b , 17px 17px 0 #16385b , 18px 18px 0 #16385b , 19px 19px 0 #16385b , 20px 20px 0 #16385b , 21px 21px 0 #16385b ;
        }
    .facebook_button {
        display: inline-block;
        
        background: #627aac url(facebook_small.png) left no-repeat;
        
        border-top: 1px solid #29447e;
        border-right: 1px solid #29447e;
        border-bottom: 1px solid #1a356e;
        border-left: none;
        
        /*height: 22px;*/
        
        padding-right: 20px;
        padding-left: 20px;
        
        font-weight: bold;
        font-size: 11px;
        color: white;
        text-decoration: none;
        font-family: Helvetica, "lucida grande", tahoma, verdana, arial, sans-serif;
        line-height: 22px;
        
        cursor: pointer;
        
    }

    @font-face {
      font-family: 'Syncopate';
      font-style: normal;
      font-weight: 400;
      src: local('Syncopate'), local('Syncopate-Regular'), url(https://fonts.gstatic.com/s/syncopate/v7/pDM9CVwNx1ufBHCEatJA3FtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
<script>

    window.fbAsyncInit = function() {
      FB.init({
        appId: "199254233818913",
        xfbml: true,
        version: "v2.6"
      });
      
      FB.Event.subscribe('send_to_messenger', function(response) {
        if ( response.event == 'clicked' ) {
              // callback for events triggered by the plugin
                window.top.location = 'https://www.messenger.com/t/page_id';
        };
          });
    
        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) { return; }
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    };

  </script>
{% endblock %}
